.pokeHome {
  align-content: space-between;
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.8px, transparent 0.5px);
  background-position: 10px;
  background-size: 40px 40px;
  display: grid;
  height: 100%;
  opacity: 0.8;
  padding: 36px 42px;
  row-gap: 24px;
}

.pokeHome-body {
  display: flex;
  gap: 24px;
  height: calc(100vh - 260px);
  justify-content: space-between;
}
