.searchbar {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: solid 1px rgb(83, 81, 81);
  display: flex;
  height: 28px;
  justify-content: flex-start;
  max-width: 40vw;
  padding: 2px;
  width: 100%;
}
.searchbar__input {
  border: none;
  width: 100%;
  background-color: transparent;
}
.searchbar__input:focus-visible {
  outline: none;
}
.searchbar__icon {
  margin: 0 4px;
}
.error {
  color: red;
  font-weight: bold;
  height: 22px;
  width: 100%;
}
